<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>

<header th:insert = " parts/header :: header"></header>

<div class ="container mt-5">
    <h1>Cabinet</h1>
    <div th:each="el:${information}" class="alert alert-info mt-2">
        <p> Здравствуйте, <i th:text=" ${el.FirstName}" /> ! </p>
        <li> Фамилия</li><i th:text=" ${el.lastName}" />
        <li> Ваш логин</li><i th:text=" ${el.UserName}" />
        <li> Ваш email</li><i th:text=" ${el.Email}" />
        <li> Ваш адрес</li><i th:text=" ${el.Adress}" />




    </div>

</div>



<div>

</div>
<div th:insert = "parts/footer :: footer"></div>


</body>
</html>