<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text = " ${Title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
   .form-signin{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
   }
   button{
    width: 200px!important;
   }
  </style>
</head>


<header th:insert = " parts/header :: header"></header>


<body class="text-center">
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/signPage}" method="post">
    <div class="container mb-5 mt-5">
        <h1>Страница авторизации</h1>
    <div><label><input type="text" name="username" placeholder="Введите имя пользователя" class="form-control"/> </label></div>
    <div><label><input type="password" name="password" placeholder="Введите ваш пароль" class="form-control"/> </label></div>
    <!--button class="btn btn-lg btn-primary btn-block" type="submit" >Войти</button-->
        <button type="submit" class="btn btn-success">Войти</button><br>
        <!--button type="submit" class="btn btn-success"  href="/getReg">Зарегестрироваться</button><br-->
        <p align="center"><a class="btn btn-lg btn-primary btn-block" type="submit" href="/getReg"  style="width:18% !important;">Регистрация</a></p>
    </div>
</form>

<div class="mallbery-caa" style="z-index: 2147483647 !important; text-transform: none !important; position: fixed;"></div>
<div class="mallbery-caa" style="z-index: 2147483647 !important; text-transform: none !important; position: fixed;"></div>
</body>
</html>




